.optins {
  margin-top: 2px;
}

.navBar {

  height: 55px;
  display: flex;
  justify-content: space-between;
  background: rgba(148, 148, 148, 0.4);
}

.navIcons {

  height: 2rem;
  width: 2rem;
  margin: 10px 0px 0px 10px
}

.pos-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar {
  position: absolute;
  height: calc(100vh - 95px);
  width: 100%;
  overflow: hidden;
  transform: translateX(-100%);

  background-color: white;
  transition: transform 0.3s ease;
  /* Start off-screen initially */
  border: 0px 2px 0px 0px;

  @media (min-width:425px) {
    width: 350px;
    transform: translateX(-351px);
  }
}

.navbar.open {
  transform: translateX(0);
}

.toggle-button {
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  padding: 10px;
  color: black;
  cursor: pointer;
}

li:hover {
  background-color: rgb(0, 0, 0, 0.04);
}

.company{
  font-size: xxx-large;
}

@keyframes zoomOut {
  0% {
    transform: scale(2.5);
    opacity: 0;
    font-size: 300px;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    font-size: xxx-large;
    
  }
}

.zoom-out {
  animation: zoomOut 2s ease-out;
}
