.checkout-container{
    margin: 100px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    @media (max-width:426px) {
        display: block;
        align-items: center;
        text-align: center;
        margin-left: auto;
    }
}

.checkout-image{
    @media (max-width:426px) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}


.checkout-details{
    width: 40%;
    text-align: start;
    @media (max-width:426px) {
        width: 100%;
        text-align: center;
    }
}


.wid{
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.wid-300{
    width:'300px'
}

.checkout-sizes{
    display: flex;
    justify-content: start;
    gap: 20px;

    @media (max-width:426px) {
        justify-content: center;
    }
}

.checkout-sizes-number{
    text-align: center;
    border: 2px solid lightgray;
    font-size: larger;
    border-radius: 20%;
    width: 50px;
    color: lightgray;
}

.checkout-sizes-number-clicked{
    background: black;
}



.line-th{
    color: rgb(39, 39, 172);
    text-decoration: line-through !important;
}

.upi-container{
    @media (min-width:426px) {
        /* border: none !important; */
        width: 38% !important;
    }
}