body{
overflow-x: hidden;
/* font-family: url('https://cdn.shopify.com/s/files/1/0637/7137/7844/files/GraphikRegular.ttf?v=1711524297'); */
}
.all-products {
  padding: 20px;
}

.category {
  margin-bottom: 40px;
}

.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);  

  @media (min-width:700px) {
    width: 70%;
  }
}

.product-card {
  padding: 2px;
  border-radius: 5px;
  overflow: hidden;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-bottom: 0px solid #ddd;
  margin-bottom: 15px;
}

.product-image1 {
  
  max-width: 80%;
  height: auto;
  border: 0px solid #ddd;
  margin-bottom: 1px;
  border-radius: 15%;
}

.product-overlay{
  width: 80%;
}

.overlay-items{
  position: absolute;
  top: 42%;
  left: 42%;
  opacity: 0;
}

.product-card:hover .overlay-items{
  opacity: 0.9;
  
  
}

/* .overlay-div{
  

} */

.product-card:hover .overlay-div{
  width: 80%;
    height: 100%;
    /* border: 7px solid #ddd; */
    /* margin-bottom: 1px; */
    border-radius: 15%;
    position: absolute;
    left: 10%;
    top: -1%;
    opacity: 0.5;
    background: grey;
    transition: 0.3s ease-in-out;
}




.product-price {
  color: black;
  /* font-weight: bold; */
  font-size: large;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(4, 2fr);
  }
}


.optins {
  margin-top: 2px;
}



.shop-btn {
  color: black;
  /* background: transparent; */
  background: white;
  border: 1px;
  padding: 0.5%;
  font-size: x-large;
  width: 100%;
}

.hero-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.displ-none {
  display: block;

  @media (max-width:450px) {
    display: none;
  }
}

.displ-vis {
  display: none;

  @media (max-width:450px) {
    display: block;
  }
}

.img-div {
  width: 100%;

}

.img-div img {
  width: 100%;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;

}



.dnone {
  @media (min-width:600px) {
    display: none;
  }
}


.sectionLinks{
  border: none;
  font-size: 100%;
  background: transparent;


}

