* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
}

html,
body {
  text-decoration: none !important;
  font-family: "gilroy-regular", sans-serif;
}

.overflow-hidden {
  overflow: hidden !important;
}